*.log
*log.txt
.env
node_modules/
out/
.ssh
.idea
.cache
.local
.config
.project
.settings
.buildpath
npm-debug.log
.bash_history
.mysql_history
.bash_logout
.bash_profile
.bashrc
.DS_Store
__MACOSX

/*
!icon.svg
!icon.png
!.gitignore
!.vscode
!.vscodeignore
!src
!tsconfig.json
!package.json
!package-lock.json
!README.MD